/* .entries_container {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.searchbox {
  justify-self: center;
} */

.add_entry_btn {
  transition: all 0.7s;
  position: relative;
}

.add_entry_btn:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.entries_search_box {
  width: 100%;
}
