.account_Settings_container {
}

.settings_card {
}

.account_information_settings {
  margin-left: 10px;
  margin-top: 45px;
  margin-right: 45px;
  padding: 3px;
  height: 100%;
}

.profile_pic_settings {
  margin-left: 45px;
  margin-top: 45px;
  margin-right: 10px;

  padding: 45px;
}

.row_height {
  height: 100%;
}

.avatar {
  height: 600px;
  width: 500px;
}

.delete-form-box {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.delete-center-screen {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 30%;
  height: 50%;
}
