.diary {
  margin: 10px;
  background-color: #3b0286;
  color: white;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.7s;
}

.diary:hover {
  background-color: black;
  cursor: pointer;
}
